<ion-header>
  <ion-navbar #content primary >
    <button menuToggle=""><ion-icon name="menu"></ion-icon></button>
    <ion-title>Youtube App</ion-title>
    <ion-buttons end>
      <button ion-button class="disable-hover bar-button bar-button-default activated" (click)="presentPopover($event)">
        <span button-inner><ion-icon name="more" class="ion-ios-more"></ion-icon></span>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-menu type="overlay" [content]="content">
  <ion-toolbar>
    <ion-title>Youtube App</ion-title>
    <button menuToggle><ion-icon name="close"></ion-icon></button>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="search('雲海')">
        雲海
      </button>
      <button menuClose ion-item (click)="search('摩星嶺4號')">
        摩星嶺4號
      </button>
      <button menuClose ion-item (click)="search('靈異旅行團')">
        靈異旅行團
      </button>
      <button menuClose ion-item (click)="search('恐怖在線')">
        恐怖在線
      </button>
      <button menuClose ion-item (click)="search('越夜越心慌')">
        越夜越心慌
      </button>
      <button menuClose ion-item (click)="search('連環快拍')">
        連環快拍
      </button>
      <button menuClose ion-item (click)="edmondpoonLive()">
        恐怖在線 Live
      </button>
      <button menuClose ion-item (click)="search('無奇不有')">
        無奇不有
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding class="home">
  <ion-searchbar type="text" (ngModelChange)="search($event)" [(ngModel)]="searchInput"></ion-searchbar>
  <ion-item><iframe webkit-playsinline id="ytplayer" class="" width="100%" frameborder="0" [src]="videoUrl"></iframe></ion-item>
  <ion-item *ngIf="edmondPoon">
    <audio webkit-playsinline preload="auto" *ngIf="edmondPoon" controls>
      <source src="http://alive.dimbo.tv:7000/;stream.nsv&type=mp3" type="audio/mpeg">
    </audio>
  </ion-item>

  <ion-list-header>Now Playing: {{playingName}}</ion-list-header>
  <ion-list>
    <ion-item *ngFor="let item of videoList" (click)="playVideo(item.id.videoId,item.snippet.title,1)" >
      <img *ngIf="showImg" src="{{item.snippet.thumbnails.default.url}}" width="{{item.snippet.thumbnails.default.width}}" height="{{item.snippet.thumbnails.default.height}}">
      {{item.snippet.title}}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
